@import '/src/styles/variables.scss';
.product{
    width: 1600px;
    max-width: 100vw;
    i.filter{
        display: none;
    }
    &__header{
        display: flex;
        padding: 10px;
        position: relative;
    }
    &__title{
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: 800;
        font-size: 1.2rem;
        margin-top: 10px;
        color: var(--main-text);
    }
    &__list{
        padding-right: 25px;
        background: var(--main-background);
    }
}
.list__page{
    max-width: 100vw;
    
    ul{
        justify-content: center;
        max-width: 100vw;
        margin-bottom: 15px;
    }
    button{
        color: var(--main-text);
        position: none;
    }
}
@media (max-width: 992px) {
    .product{
        position: relative;
        padding: 0;
        margin: 0;
        &__list{
            margin-top: 0;
            padding: 0;
        }
        &__title{
            margin-top: 10px;
            margin-left: 20px;
        }
        &__list--small{
            margin: 0;
        }
    }
    .list__page{
        max-width: 100vw;
        margin: auto;
        ul{
            max-width: 100vw;
            button{
                left: 0;
            }
        }
    }
}

