@import '/src/styles/variables.scss';
@mixin Text {
    text-align: center;
    color: var(--main-text);
}
.box__about{
    width: 100%;
    max-width: 100vw;
    background: var(--main-background);
}
.about{
    width: $width-container;
    max-width: 100vw;
    margin: auto;
    padding: 20px 0;
    &__title{
        @include Text();
        text-transform: uppercase;
        border-bottom: 5px solid var(--main-text);
        padding-bottom: 30px;
        font-size: $font-size;
        color: var(--main-text)
    }
    &__des{
        @include Text();
        width: 60%;
        margin: 25px auto;
        font-size: $font-size-des;
    }
    &__types{
        color: var(--main-text);
        width: 90%;
        margin: auto;
        padding: 15px 0;
        font-size: $font-size-des;
    }
    ul{
        li{
            position: relative;
            margin-top: 10px;
            img{
                width: 100%;
                height: 400px;
            }
            img:before{
                width: 100%;
                height: 400px;
                content: "";
                z-index: 9;
                background-color: rgba(0, 0, 0, 0.04);
            }
            h3{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                color: $white;
                text-transform: uppercase;
            }
        }
        
    }
}   
    
@media (max-width: 568px){
    .about{
        &__title{
            padding: 5px;
        }
        &__des{
            width: 80%;
        }
    }
}
@media (max-width: 768px){
    .about{
        ul{
            padding-left: 0;
        }
    }
}