@import '/src/styles/variables.scss';
@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
$border-radius: 15px;
.cart{
    position: absolute;
    width: 550px;
    height: 532px;
    background-color: $white;
    position: absolute;
    z-index: 9999;
    right: 10px;
    top: 44px;
    border-radius: $border-radius;
    overflow: auto;
    overflow-x: hidden;
    // display: none;
    // transform: translateX(1000px);
    transition: 0.6s ease;
    &__icon{
        position: absolute;
        right: 15px;
        top: 10px;
    }
    &__title{
        width: 100%;
        background-color: $background-color2;
        text-align: center;
        padding: 15px 0;
        margin-bottom: 0;
        color: $color-text;
        font-weight: 800;
        font-size: 1.4rem;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    &__list{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .box__item{
        width: 100%;
        height: 350px;
        overflow: auto;
        // overflow-y:hidden;
    }
    &__item{
        display: flex;
        justify-content: space-between;
        padding: 0 0 5px 0;
        margin-bottom: 5px;
        border-bottom: $border1;
        li{
            @include flex-center();
            text-align: center;
            padding: 0;
            font-weight: 600;
            font-size: 0.7rem;
            span{
                font-size: 0.85rem;
                cursor: pointer;
            }
            input{
                width: 100%;
            } 
        }
        &:hover{
            // background-color: $background-color3;
        }
        &>li:nth-child(1){
            flex-basis: 120px;
            overflow: hidden;
        }
        &>li:nth-child(2){
            flex-basis: 120px;
        }
        &>li:nth-child(3){
            flex-basis: 80px;
            display: flex;
            justify-content: space-around;
        }
        &>li:nth-child(4){
            flex-basis: 100px;
        }
        &>li:nth-child(5){
            flex-basis: 68px;
        }
        &>li:nth-child(6){
            flex-basis: 40px;
        }
        img{
            width: 100%;
        }
    }
    &__footer{
        width: 100%;
        border: 1px solid $background-color2;
        border-bottom-right-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        border-right: none;
        border-left: none;
        display: flex;
        justify-content: space-between;
        p{
            margin-bottom: 0;
            font-size: 1.1rem;
            color: red;
            @include flex-center();
            padding-left: 20px 
        }
        button{
            @include flex-center();
            color: $color-text;
            font-weight: bold;
            margin-right: 10px;
            &:hover{
                color: $background-color3;
            }
        }
    }
}
