$font-family: "Josefin Sans", sans-serif;
$background-color : #edf3ef;
$background-color2 : #FFC0CB;
$background-color3 : #dcc5bb;
$white: white;
$width-container : 1150px;
$color-text : black;
$border: 2px solid black;
$border1: 1px solid black;
$border-radius-small: 5px;
$border-radius-medium: 15px;
$font-size: 1.6rem;
$font-size-des: 0.85rem;
$flex: flex;
$font-weight-bold: 500;
$uppercase : uppercase;
$color-length: red;
$max-width: 100vw;
$max-height: 100vh;
